.center {
    position: absolute;
    left: 5.67%;
    bottom: 8.57%;
    height: 15%;
}

.center2 {
    position: absolute;
    right: 5.67%;
    bottom: 8.57%;
    height: 15%;
}

body {
    background-color:black;
}

.head {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-top: 2%;
    
}

.back {
    bottom: 8.57%;
    width: 5%;
    margin-left: 5%;
    margin-top: -4%;
}

.word {
    position: absolute;
    height: 23px;
    left: 546px;
    top: 172px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #F2F2F2;
}

.word2 {
    position: absolute;
    height: 23px;
    left: 746px;
    top: 172px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 23px;

    color: #F2F2F2;
}

.word3 {
    position: absolute;
    height: 23px;
    left: 546px;
    top: 250px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #F2F2F2;
}

.time {
    margin-left: 700px;
    margin-top: 160px;
    width: 300px;
}

.clock {
    width: 32.3%;
    margin-top: -53.5%;
    margin-left:120px;
}

.note {
    color: white;
    margin-left: 550px;
    margin-top: -2%;
    font-size: 13px;
    line-height: 14px;
}

.word4 {
    position: absolute;
    width: 66px;
    height: 23px;
    left: 546px;
    top: 400px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #F2F2F2;
}

.pay {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 600px;
    top: 452px;

    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.method {
    color: white;
    margin-left: 63px;
    margin-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.bonus {
    position: absolute;
    width: 56.02px;
    height: 20px;
    left: 764px;
    top: 440px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FF5F00;

    transform: rotate(-29.67deg);
}

.pay2 {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 600px;
    top: 530px;

    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.method2 {
    color: white;
    margin-left: 13px;
    margin-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}