.center {
    position: absolute;
    left: 5.67%;
    bottom: 8.57%;
    height: 15%;
}

.center2 {
    position: absolute;
    right: 5.67%;
    bottom: 8.57%;
    height: 15%;
}

body {
    background-color:black;
}

.head {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-top: 2%;
    
}

.back {
    bottom: 8.57%;
    width: 5%;
    margin-left: 5%;
    margin-top: -4%;
}

.picture {
    margin-left: 650px;
    margin-top: 20px;
    width: 10%;
}

.note {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-left: 500px;
    margin-top: 50px;
}

.note2 {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-left: 500px;
    margin-top: 50px;
}